---
import Layout from "../../layouts/Layout.astro";
import { stateManager } from "@/stores/stores";
import { authStore } from "@/stores/authStore";
import { paymentStore } from "@/stores/payment";
import { Button } from "@/components/ui/button";
import { ArrowLeft } from "lucide-react";
import WompiPaymentButton from "@/components/Payment/WompiPaymentButton.astro";
import PaymentResume from "@/components/Payment/PaymentResume.astro";
import Countdown from "@/components/Utilities/Countdown.astro";
import { Card, CardFooter } from "@/components/ui/card";
import { supabase } from "@/lib/supabase";

const app = Astro.url.searchParams.get("app");
const auth = Astro.url.searchParams.get("auth");
const payment = Astro.url.searchParams.get("payment");
if (app) {
  stateManager.setSerializedState(app);
}
if (auth) {
  authStore.setSerializedState(auth);
}
if (payment) {
  paymentStore.setSerializedState(payment);
}
const { fullName, email, phone, document, documentType } = authStore.getState();
console.log({ fullName, email, phone, document, documentType });
const { expirationTime } = paymentStore.getState();
const {
  data: { raffleId },
} = await supabase.from("draw").select("raffleId").single();
paymentStore.setState({ raffleId });

const state = stateManager.getSerializedState();
const redirectUrl = Astro.url.origin + "/payment/result";
---

<Layout title="Checkout | 4Negrita">
  <div class="min-h-screen bg-background flex flex-col pt-32">
    <main class="flex-grow container mx-auto px-4 py-8">
      <div class="max-w-2xl mx-auto">
        <div class="flex justify-between items-center">
          <h1 class="text-3xl font-bold mb-2 text-heart-600">
            Finaliza tu compra
          </h1>
          <a href={`/tickets?app=${state}&canceled=true`}>
            <Button variant="ghost" className="pt-2 pb-2 pl-4 pr-6 text-1xl">
              <ArrowLeft className="mr-1 h-4 w-4" />
              Volver
            </Button>
          </a>
        </div>

        <div class="flex flex-col gap-4">
          <PaymentResume />
          <WompiPaymentButton
            redirectUrl={redirectUrl}
            currency="COP"
            fullName={fullName}
            email={email}
            phone={phone}
            document={document}
            documentType={documentType}
          />
          <Card>
            <Countdown
              style="minimal"
              size="compact"
              units="minutes"
              title={null}
              targetDate={expirationTime}
            />
            <CardFooter className="text-center text-sm text-gray-600">
              !Recuerda, dispones de 10 minutos para completar el pago,
              apresurate y no pierdas la oportunidad de participar¡
            </CardFooter>
          </Card>
        </div>
      </div>
    </main>
  </div>
</Layout>

<script>
  import { checkLogState } from "@/lib/checkLogState";
  import { authStore } from "@/stores/authStore";
  import { stateManager } from "@/stores/stores";
  const { fullName, email, phone } = authStore.getState();
  const { referenceCode, totalAmount, selectedTickets } =
    stateManager.getState();
  checkLogState();
  const paymentData = {
    customerName: fullName,
    referenceCode,
    email,
    phone,
    tickets: selectedTickets,
    amount: totalAmount,
    paymentMethod: "Wompi",
  };

  sessionStorage.setItem("paymentData", JSON.stringify(paymentData));
</script>
